VITE_SUPABASE_URL=https://iulkssfuujaaqntjmkha.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1bGtzc2Z1dWphYXFudGpta2hhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5NjczODAsImV4cCI6MjA3MzU0MzM4MH0.PorNZLhi2jnzWDie8PEZKU6Xdy70YVLaBHB-ufbuo-c